<?xml version="1.0"?>
<!-- AskoziaPBX default system configuration -->
<!-- $Id$ -->
<askoziapbx>
	<version>1.1</version>
	<lastchange></lastchange>
	<system>
		<hostname>AskoziaPBX</hostname>
		<domain>local</domain>
		<dnsserver>192.168.1.1</dnsserver>
		<username>admin</username>
		<password>$1$uRCWrAae$JD3lKuONsFj/675FnBrjU/</password>
		<timezone>Etc/UTC</timezone>
		<time-update-interval>300</time-update-interval>
		<timeservers>pool.ntp.org</timeservers>
		<webgui>
			<protocol>http</protocol>
			<!--
			<port></port>
			<certificate></certificate>
			<private-key></private-key>
			<noassigninterfaces/>
			<expanddiags/>
			-->
		</webgui>
		<!-- <disableconsolemenu/> -->
		<!-- <disablefirmwarecheck/> -->
		<!-- <shellcmd></shellcmd> -->
		<!-- <earlyshellcmd></earlyshellcmd> -->
		<!-- <harddiskstandby></harddiskstandby> -->
		<!-- <polling/> -->
		<!-- <notes></notes> -->
	</system>
	<interfaces>
		<lan>
			<if>sis0</if>
			<ipaddr>192.168.1.2</ipaddr>
			<subnet>24</subnet>
			<media></media>
			<mediaopt></mediaopt>
			<gateway>192.168.1.1</gateway>
		</lan>
	</interfaces>
	<!--
	<sip>
		<port>5060</port>
		<phone>

		</phone>
		...
		<provider>

		</provider>
		...
	</sip>
	<conferencing>
		<room>

		</room>
		...
	</conferencing>
	-->
	<staticroutes>
		<!--
		<route>
			<interface>lan|opt[n]|pptp</interface>
			<network>xxx.xxx.xxx.xxx/xx</network>
			<gateway>xxx.xxx.xxx.xxx</gateway>
			<descr></descr>
		</route>
		-->
	</staticroutes>
	<syslog>
		<!--
		<reverse/>
		<enable/>
		<remoteserver>xxx.xxx.xxx.xxx</remoteserver>
		<system/>
		-->
	</syslog>
</askoziapbx>
